<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 my-3">
      <h1 class="text-center">{{ title }}</h1>
    </div>
    <div class="col-md-8">
      <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [zoom]="zoom"
        [minZoom]="minZoom"
        [maxZoom]="maxZoom"
        [zoomControl]="zoomControl"
        [streetViewControl]="streetViewControl"
        [mapTypeControl]="mapTypeControl"
      >
        <agm-marker
          [latitude]="latitude"
          [longitude]="longitude"
          [draggable]="draggable"
          [markerDraggable]="true"
          (dragEnd)="markerDraggingEnd($event)"
        ></agm-marker>
      </agm-map>
    </div>
    <div class="col-md-4 mb-3">
      <div class="row">
        <div class="col-12">
          <input
            type="text"
            id="place"
            class="form-control"
            (keydown.enter)="$event.preventDefault()"
            spellcheck="off"
            type="text"
            placeholder="Enter Place"
            #search
          />
        </div>

        <div class="col-6">
          <label for="lat" class="form-label">Latitude</label>
          <input
            type="number"
            placeholder="Latitude"
            id="lat"
            class="form-control"
            [(ngModel)]="latitude"
          />
        </div>
        <div class="col-6">
          <label for="lng" class="form-label">Longitude</label>
          <input
            type="number"
            placeholder="Longitude"
            id="lng"
            class="form-control"
            [(ngModel)]="longitude"
          />
        </div>

        <div class="col-4">
          <label for="zoomLevel" class="form-label">Zoom Level</label>
          <input
            type="number"
            placeholder="zoom"
            id="zoomLevel"
            [min]="minZoom"
            [max]="maxZoom"
            class="form-control"
            [(ngModel)]="zoom"
          />
        </div>
        <div class="col-4">
          <label for="minZoom" class="form-label">Min Zoom</label>
          <input
            type="number"
            placeholder="Min Zoom"
            id="minZoom"
            min="1"
            max="21"
            class="form-control"
            [(ngModel)]="minZoom"
          />
        </div>
        <div class="col-4">
          <label for="maxZoom" class="form-label">Max Zoom</label>
          <input
            type="number"
            placeholder="Max Zoom"
            id="maxZoom"
            min="2"
            max="22"
            class="form-control"
            [(ngModel)]="maxZoom"
          />
        </div>
      </div>
    </div>
  </div>
</div>
